name: Tests

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      MPLBACKEND: Agg

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: pip

      - name: Install package + test dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip uninstall -y pyuncertainnumber || true
          python -m pip install -e .[test]


      - name: Run tests
        run: |
          pytest -q
